body.bg{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#e3f2fd,#ffffff);
}

.card{
    background:white;
    width:420px;
    margin:40px auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.center{text-align:center;}

input,select{
    width:100%;
    padding:8px;
    margin:8px 0 15px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    background:#1976d2;
    color:white;
    padding:10px;
    border:none;
    border-radius:10px;
    margin-top:10px;
    cursor:pointer;
    width:100%;
    font-weight:bold;
}

button:hover{
    background:#0d47a1;
}

.subject-box{
    border:1px solid #ddd;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    background:#f9fbff;
}

.result-card{
    background:#e8f5e9;
    padding:12px;
    border-radius:10px;
    margin:10px 0;
}

.summary-card{
    background:#fff8e1;
    padding:10px;
    border-radius:10px;
    margin:10px 0;
}
